.body {
    display: table;
    background-color: green;
}

.header{
    width:100%;
    height: 65px;
    background: #16365C;
}

.header-text-left{
	font-size: 20px;
	color: white;
	font-family: 'Raleway',sans-serif;
	margin-top: 20px;
}

.header-text-right{
    color: white;
    font-family: 'Raleway',sans-serif;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 16px;
}

.left-side-bar{
	overflow: hidden;
	color: black;
	width: 20%;
	height: 1000px;
	float: left;
    border-right: solid .5px;
    border-right-color: #f1f1f1;
    background-color: #e6f7ff;
}

.flow-left-side-bar{
    overflow: hidden;
    color: black;
    width: 20%;
    height: 1000px;
    float: left;
    background-color: #e6f7ff;
}

.sidebar-text-left{
	color: black;
	font-family: 'Raleway',sans-serif;
	margin-top: 20px;
}

.padding-top{
	margin-top: 15%
}

.padding-top-15 {
    margin-top: 15px;
}

.form-padding{
	margin-top:20px;
}

ul.sidebar {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

li a.sidebar {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
}

li a.sidebar-text {
    display: block;
    color: #000;
    padding: 24px 16px;
    text-decoration: none;
    width: 100%;
}

ul.sidebar {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

li a.sidebar-header {
    display: block;
    color: white;
    background-color: black;
    font-size: 17px;
    padding: 16px 16px ;
    text-decoration: none;
    width: 100%;
}

li a.active {
    background-color: #5bc0de;
    color: white;
}

/*li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

.page-content{
	width: 80%;
  	height: 100%;
  	float: left;
  	padding-left: 10px;
}

.right-gray-border {
    border-right: solid 1px gray
}

.left-side {
    float: none;
    display: table-cell;
    border: 1px solid;
}

.right-side {
    float: none;
    display: table-cell;
    border: 1px solid;
}

.save-next-btn {
    width: 35%;
}

.blue-text:hover {
    color: #16365C;
    border-color: #16365C;
    background-color: white;
}

.blue-text {
    color: white;
    border-color: white;
    background-color: #16365C;
}

.menu-category-btn {
    color: #16365C;
    border-color: gray;
    background-color:white;
}
.menu-category-btn:hover {
    color: white;
    border-color: white;
    background-color: #16365C;
}

.blue-text-color {
    color: #0074D9
}

.half-width {
    width: 50%;
}

.card-padding{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 180px;
}

.fb-button{
    border-color: #D3D3D3;
    color: #0084ff;
}

h3.fb-title{
    margin-top: 0px;
    margin-bottom: 5px;
}

.fb-description{
    margin-top: 0px;
    margin-bottom: 5px;
    color: #A9A9A9;
}

.product-url{
    margin-top: 0px;
    margin-bottom: 5px;
    color: #A9A9A9; 
    font-size: 12px;
}

.sender-message-bubble {
    border-radius: 25px;
    background: #0084ff;
    color: white;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
}

.recipient-message-bubble {
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
    background: #E8E8E8;
    margin-right: 20px;
}

.chatbox-border {
    border: solid;
    border-width: .2px;
    border-color: black;
    padding: 25px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #0084ff;
  line-height: 25px;
  background: white;
  box-shadow: 0 0 0 1px #0084ff;
  margin: 5px;
  display:inline-block;
}

.btn-padding {
    padding: 30px 10px 10px 10px;
}

.btn-response-text {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
    background: #E8E8E8;
    margin-right: 20px;
    display: block;
    clear: both;
    width:100%;
}

.btn-response-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
    background: white;
    margin-right: 20px;
    border: solid;
    border-width: .2px;
    border-color: #E8E8E8;
    color: #0084ff;
    display: block;
    clear: both;
    width:100%;
}


.quick-reply-btn {
    border-radius: 25px;
    color: #0084ff;
    border: solid;
    border-width: .2px;
    border-color: #0084ff;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
    display:inline-block;
}

.delete-btn{
    width: 25%
}